/* this is a custom CSS stylesheet */

header {
	font-size: 250%;
	text-align: center;
	font-family: Verdana, sans-serif;
}

body {
	background-repeat: no-repeat;
	background-size: 250%;
	background-attachment: fixed;
}

@media (min-width: 768px) {
	header {
		font-size: 500%;
	}

	body {
		background-size: 150%;
	}
}

@media (min-width: 992px) {
	header {
		font-size: 750%;
	}

	body {
		background-size: 100%;
	}
}

@media (min-width: 1200px) {
	header {
		font-size: 1000%;
	}
}

header > a:visited {
	color: #000000;
	text-decoration: none;
}

header > a:link {
	color: #000000;
	text-decoration: none;
}

header > a:hover {
	color: #000000;
	text-decoration: none;
}

header > a:active {
	color: #000000;
	text-decoration: none;
}

footer {
	padding: 2em 0;
/*	margin: 3em 0;
*/	border-top: 1px solid #000;
	color: #999;
	text-align: center;
}

footer > p > button > a:link {
	color: #000000;
}

footer > p > button > a:visited {
	color: #000000;
}

a:link {
	color: #fb1b21;
}

a:visited {
	color: #fb1b21;
}

.img-responsive {
	margin: 3em 0 3em 0;
	margin-left: auto;
	margin-right: auto;
}

.btn-info {
	background-color: #cdae51;
	border-color: #3f2b22;
	color: #fff;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #3F2B22;
  border-color: #333;
}

.banner {
	margin-bottom: 0;
}

.navbar-default {
	border-color: #000000;
	background-color: #000000;
}

.nav-pills > li > a {
	border-radius: 0px;
}

.nav-pills {
	background-color: #000000;
}

.nav-pills > li > a:link {
	color: #afd5f6;
}

.nav-pills > li > a:visited {
	color: #afd5f6;
}

.nav-pills > li > a:hover {
	color: #000000;
	background-color: #eeeeee;
}

.nav-pills > li.active > a {
	background-color: #cccccc;
	color: #000000;
}

.nav-pills > li.active > a:hover {
	background-color: #eeeeee;
	color: #000000;
}

.projects-transparent-box {
	margin-top: 3em;
	height: 6.5em;
	opacity: 0.6;
	border: 1px solid transparent;
	background-color: white;
	border-radius: 4px;
}

.projects-blurb {
	position: relative;
	top: -6em;
	text-align: center;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.index-transparent-box {
	margin-top: 3em;
	height: 24em;
	opacity: 0.6;
	border: 1px solid transparent;
	background-color: white;
	border-radius: 4px;
}

.index-blurb {
	position: relative;
	top: -23.5em;
	text-align: right;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-bottom: -23.5em;
}
